*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.h1{
    width: 100%;
    margin: auto;
    text-align: center;
}

#menu {
    display: flex;
    background-color: #333;
}

#menu a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@media (hover: hover) {
    #menu a:hover {
        background-color: #111;
    }
}

/*or*/

/*#menu a:hover:not(.active){
    background-color: #111;
}

@media (hover: none) {
  #menu a:hover:not(.active),
  #menu a:focus:not(.active) {
    background-color: inherit;
  }
}*/

#menu a.active {
    background-color: rgb(211, 17, 69);
}

@media (max-width: 480px) {
  #menu{
    flex-direction: column;
  }
}
